<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1> ALIET STUDENT DETAILS  UPLOADING SECTION</h1>
        </header>
    <div class="card">
        <h2>Upload Student Details in Excel format</h2>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- File Upload Form -->
        <form action="/upload1" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
        
    </div>
    <div class="back-link">
        <a href="admin_dashboard">🔙 Go Back</a>
    </div>
    </div>
</body>
</html>
